<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>!Drowsy | START</title>
    <link rel="stylesheet" href="static/start.css">
</head>
<body>
    <h1>Hey! , welcome to <span> <strong>!Drowsy.</strong> </span></h1>
    <h2> <strong>*WARNING*</strong> 'Buckle up' your seatbelts</h2>
    


    <form action="/track" method="POST">
    <input type="submit" name="status"  value="START tracking" class="btn third start"/>
    </form>

<form action="/track" method="POST">
    <input type="submit" name="status"  value="STOP tracking" class="btn fourth" />
</form>







    <div class="navigation">
  
        <a class="button" href="/main">
          <img src="https://lh3.googleusercontent.com/ogw/ADGmqu8WzPb-mVtVSU0AthOh2Fu41gChxnbqMSPWdEQrmQ=s32-c-mo">
         <div class="logout"> BACK</div>
        </a>
      
    </div>


</body>
</html>
